@import "../../../styles/colors.scss";

.icon-accordion {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 16px;
  .accordion-content-container {
    width: auto;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
  }
  .accordion-icon-container {
    display: inline-block;
    transition: margin-left 0.2s;
    position: relative;
    &:not(:first-child) {
      margin-left: -24px;
    }
    &:hover {
      .accordion-icon-tooltip-wrap {
        z-index: 600 !important;
      }
    }
  }
  &:hover {
    .accordion-icon-container {
      margin-left: 0px !important;
    }
  }
}

.accordion-icon-tooltip-wrap {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 0;
  margin-bottom: -14px;
  transition: left 0.2s ease-out, transform 0.2s ease-out;
  transform: translateX(-50%);
  z-index: 500;
}

.accordion-icon-tooltip {
  padding: 2px 8px;
  background: $black;
  color: $text-dark-primary;
  border-radius: 25px;
  white-space: nowrap;
  font-size: 10px;
  &.in {
    animation: scaleIn 0.2s ease-out;
  }
  &.out {
    animation: scaleOut 0.2s ease-in;
  }
}
