$backgroundColor: linear-gradient(to top left, #1a1a1a, #252525);
$borderColor: #3b3b3b;
$snakeColor: #8000ff;
$snakeHead: #a868e7;
$easyColor: #00bd9d;
$easyHead: #00f7ff;
$hardColor: #ff0037;
$hardHead: #ff7300;
$appleColor: #00ff2a;
$appleDark: #0c5518;
$hazardColor: #ff0037;
$hazardDark: #33030d;
$dimensionatorColor: #e20084;
$dimensionatorDark: #210333;
$hypercubeColor: #00d9ff;
$hypercubeDark: #02343d;
