@import "../../../styles/animations.scss";

.pill-tabs-container,
.pill-tab,
.pill-tab-container,
.pill-tab-fill,
.pill-tab-fill .animation {
  border-radius: 50px;
}

.pill-tabs-container {
  overflow: visible;
  background: #303030;
  display: inline-block;
  padding: 8px 4px 8px;
}

.pill-tab-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 4px;
  overflow: visible;

  .pill-tab-fill {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: width 0.2s, height 0.2s;
    overflow: visible;
    .animation {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #6c01b3;
      width: 100%;
      height: 100%;
      &.in {
        animation: scaleIn 0.36s cubic-bezier(0.4, 0.8, 0.38, 1.13);
      }
      &.out {
        animation: scaleOut 0.24s cubic-bezier(0.84, 0.17, 0.41, 0.41);
      }
    }
  }
  &:hover,
  &:focus {
    background: #414141;
    outline: 0;
  }
}

.pill-tab {
  position: relative;
  z-index: 10;
  background: none;
  border: 0;
  color: #fff;
  padding: 12px 25px;
  overflow: hidden;
}
