@import '../../../styles/mixins';
@import '../../../styles/colors.scss';

#resume_page {
  .content-wrap {
    padding-right: 10px;
    height: 80%;
    margin-top: 0;
    margin-left: 0;
  }
  .top-content {
    color: $white;
    h1 {
      margin: 0;
    }
    span {
      display: block;
      font-size: 24px;
      margin-left: 4px;
    }
    .info {
      margin-top: 18px;
      span {
        margin-bottom: 4px;
      }
    }
    span, p, h1 {
      text-shadow: 0 1px 4px rgba(0,0,0,0.3);
    }
  }
  @include tablet {
    .content-wrap {
      height: 90%;
      margin-left: -35px;
      width: 80%;
    }
    .top-content span {
      margin-left: 10px;
    }
  }
}

.resume-content {
  text-align: left;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: 0 8px 10px -8px $black;
  margin-bottom: 18px;
  background: $white;
  img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 16px auto 18px;
    &.square {
      max-width: 75px;
      margin-top: 0;
    }
  }
  .header {
    width: 100%;
    padding-left: 10px;
  }
  h2 {
    margin: 5px 0 5px 0;
    font-size: 18px;
  }
  .head-text {
    color: #6a6a6a;
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
  }
  a {
    background: $resume-highlight;
    display: inline-block;
    border: none;
    outline: none;
    padding: 12px 28px;
    color: $white;
    margin-top: 12px;
    border-radius: 2px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    &:hover {
      opacity: .9;
    }
  }
  .icon-accordion {
    margin-top: 14px;
  }
  @include tablet {
    img {
      margin: 0;
    }
    h2 {
      font-size: 24px;
    }
    .head-text {
      font-size: 16px;
    }
  }
}

.resume-bullets {
  li {
    margin-bottom: 6px;
  }
}

// company specific styles
#Evernote {
  .company-logo {
    width: 120px;
    height: auto;
    margin-right: 12px;
  }
}
#CarallelLLC {
  .company-logo {
    margin-top: 15px;
    margin-right: 10px;
  }
}
#XpertDoxLLC {
  .company-logo {
    margin-top: 16px;
    margin-right: 15px;
  }
}
#StandardFurniture {
  .company-logo {
    margin-top: 16px;
    margin-right: 14px;
  }
}
#SouthernViewMedia {
  .company-logo {
    margin-right: 18px;
  }
}
#PlusSumInternetMarketing {
  .company-logo {
    width: 60px;
  }
}
#AFactorMarketing, #PlusSumInternetMarketing {
  .company-logo {
    margin-right: 18px;
    margin-top: 12px;
    border-radius: 5%;
  }
} 


@keyframes bubble {
  0% {transform: scale(1)}
  25% {transform: scale(.8)}
  50% {transform: scale(1)}
  75% {transform: scale(.5)}
  100% {transform: scale(1)}
}

//svgs
#floating_svg_container {
  .res-circ {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .res-circ {
    animation: bubble;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  #res_circ_btm {
    animation-duration: 14 + random(10) + s;
    position: absolute;
    width: 80vw;
    height: 55vw;
    bottom: -24vw;
    right: 5%;
  }
  #res_circ_top {
    animation-duration: 14 + random(10) + s;
    width: 20vw;
    height: 20vw;
    left: 60%;
    top: -20vw;
  }
  #res_circ_tl {
    animation-duration: 14 + random(10) + s;
    top: 5%;
    left: -1vw;
    width: 20vw;
    height: 20vw;
  }
  #res_circ_ml {
    animation-duration: 14 + random(10) + s;
    top: 12%;
    left: -2vw;
    width: 24vw;
    height: 30vw;
  }
  #res_circ_md {
    animation-duration: 14 + random(10) + s;
    width: 18vw;
    height: 18vw;
    top: 20vh;
    left: 40vw;
  }
}
