@import "./normalize.css";
@import "./mixins.scss";
@import "./colors.scss";
@import "./animations.scss";

// general configuration
* {
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
}
body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  overflow-y: auto;
  background-size: cover;
}
a {
  text-decoration: none;
}

// common buttons/elements
.gen-img {
  width: 100%;
  height: auto;
}
.c2a-btn {
  color: #fff;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  min-width: 140px;
  border: 0;
  outline: 0;
  border-radius: 200px;
}
.cool-btn {
  background: linear-gradient(to top right, #0596d5, #00ff99);
}
.warm-btn {
  background: linear-gradient(to top right, #ff005f, #ffd500);
}
.normalize-btn {
  outline: none;
  border: none;
}
.svg-outline {
  &,
  line,
  circle,
  path,
  polyline {
    fill: none !important;
    stroke: #16161c !important;
    stroke-miterlimit: 10 !important;
    stroke-width: 30px !important;
    stroke-linecap: round !important;
    stroke-linejoin: round !important;
    &.light {
      stroke: #fff !important;
    }
  }
}
.svg {
  fill: #16161c;
  &.light {
    fill: #fff;
  }
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

// ??
.company-icon-container,
.accoudion-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-accordion {
  width: 100%;
  .accordion-icon-container {
    display: inline-block;
    transition: margin-left 0.2s;
    position: relative;
    &:not(:first-child) {
      margin-left: -24px;
    }
    &:hover {
      .accordion-icon-tooltip-wrap {
        z-index: 600 !important;
      }
    }
  }
  // .company-icon-container:not(:first-child) {
  //   transform: translateX(-12px);
  // }
  &:hover {
    .accordion-icon-container {
      margin-left: 0px !important;
    }
  }
}

.accordion-icon-tooltip-wrap {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 0;
  margin-bottom: -14px;
  transition: left 0.2s ease-out;
  transform: translateX(-50%);
  z-index: 500;
}

.accordion-icon-tooltip {
  padding: 2px 8px;
  background: $black;
  color: $text-dark-primary;
  border-radius: 25px;
  white-space: nowrap;
  font-size: 10px;
  &.in {
    animation: scaleIn 0.2s ease-out;
  }
  &.out {
    animation: scaleOut 0.2s ease-in;
  }
}

// general effects
.shadow-scroll {
  position: relative;
  box-shadow: inset 0 0 0 $black;
  transition: box-shadow 0.32s;
  &.start-shadow,
  &.end {
    height: 1px;
  }
  &.start {
    box-shadow: inset 0 20px 16px -20px $black;
  }
  &.end {
    top: auto;
    box-shadow: inset 0 -20px 16px -20px $black;
  }
  &.start.end {
    box-shadow: inset 0 20px 16px -20px $black, inset 0 -20px 16px -20px $black;
  }
}

// positioning/layout
.f-right {
  float: right;
}
.f-left {
  float: left;
}
.relative {
  position: relative;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}
.fixed-fill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.clearfix {
  clear: both;
  display: table;
  content: "";
}
.one-half,
.one-fourth,
.one-fifth,
.one-third {
  float: left;
  padding: 0 10px;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.333%;
}
.one-fourth {
  width: 33.333%;
  @include desktop {
    width: 25%;
  }
}
.one-fifth {
  width: 25%;
  @include tablet {
    width: 20%;
  }
}

// scroll bar backgrounds
#work_body {
  background: $black-surface;
  &::-webkit-scrollbar-thumb {
    background: $work-highlight;
    border-radius: 0;
  }
}
#home_body {
  background: $black-surface;
  &::-webkit-scrollbar-thumb {
    background: $home-highlight;
    border-radius: 0;
  }
}
#skills_body {
  background: $black-surface;
  &::-webkit-scrollbar-thumb {
    background: $skills-highlight;
    border-radius: 0;
  }
}
#resume_body {
  background: $black-surface;
  &::-webkit-scrollbar-thumb {
    background: $resume-highlight;
    border-radius: 0;
  }
}

// custom scrollbars
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 1.2rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.custom-scrollbar.white-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
}
.custom-scrollbar.white-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
