$charcoal: #303030;
$white: #fff;
$black: #000;
$black-surface: #16161C;
$black-surface-highlight: #1d1607;
$text-dark-primary: #f8f4ee;
$text-dark-secondary: #c7c4c2;
$text-dark-tertiary: #bebbb7;
$gray-mid: #757470;
$gray-dark: #3f3d41;

// skill level bar colors
$red-beginner: #ff4d00;
$orange-familiar: #dfbb00;
$green-intermediate: #c2e900;
$green-skilled: #73f500;
$green-mastered: #00f662;

// effects
$shadow-mid: rgba(0,0,0,0.42);

// page colors

$skills-light: #e5bf00;
$skills-dark: #FF005F;
$skills-floating: $black-surface;
$skills-highlight: #FF6600;
$skills-highlight-surface: #2c1a12;

$home-light: #5e0558;
$home-dark: #160556;
$home-floating: $white;
$home-highlight: #8000FF;

$work-light: #0596D5;
$work-dark: #00FF99;
$work-floating: $black-surface;
$work-highlight: #00E5FF;

$resume-light: #0414EE;
$resume-dark: #08CAF2;
$resume-floating: $white;
$resume-highlight: #0414EE;


// staged
$contact-highlight: #BCFF00;