@import "../../styles/mixins";
@import "../../styles/colors";

#home_page {
  height: 100%;
  color: #fff;
  p {
    color: #dfd8fc;
  }
  .top-content {
    padding: 0px 8px;
    h1 {
      margin: 0;
    }
    .pos-title {
      display: block;
      margin-left: 6px;
      font-weight: bold;
      font-size: 16px;
      color: #b6b0f1;
    }
    .description {
      margin: 24px 0 32px 0;
    }
  }
  @include tablet {
    .pos-title {
      font-size: 20px;
      margin-left: 10px;
    }
    .description {
      font-size: 18px;
    }
  }

  .snake-game-btn {
    border-radius: 200px;
    margin-bottom: 12px;
    background: linear-gradient(200deg, #8000ff 40%, #5405d4);
  }
}

.home-btn {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
}

#info_block_container,
#my_story_container {
  width: 90%;
  text-align: center;
}

.info-block {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  margin-bottom: 24px;
  width: 100%;
  .icon-wrap {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 200px;
  }
  svg {
    display: block;
    width: 45px;
    height: 45px;
  }
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 33.333%;
  }
}

#my_story_section {
  overflow-x: hidden;
}

#my_story_container {
  &,
  h2 {
    margin-top: 0;
  }
  text-align: left;
}

@keyframes shift {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}
#floating_svg_container {
  .small-rect-home,
  .large-rect-home {
    animation: shift;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  .small-rect-home {
    svg {
      width: 200px;
    }
    height: 25px;
    position: fixed;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
  }
  #gradient_rect_lgg svg,
  #gradient_rect_lgg_2 svg {
    width: 300px;
    height: 150px;
  }
  @include tablet {
    .small-rect-home svg {
      width: 600px;
      height: 32px;
    }
    #gradient_rect_lgg svg,
    #gradient_rect_lgg_2 svg {
      width: 500px;
      height: 200px;
    }
  }
  #home_sm_rect_1 {
    animation-duration: 10 + random(10) + s;
    top: 8vh;
    left: -80px;
  }
  #home_sm_rect_2 {
    animation-duration: 10 + random(10) + s;
    top: 14vh;
    left: -120px;
  }
  #home_sm_rect_3 {
    animation-duration: 10 + random(10) + s;
    top: 45vh;
    left: -50px;
  }
  #home_sm_rect_4 {
    animation-duration: 10 + random(10) + s;
    top: 82vh;
    left: -150px;
  }
  #home_sm_rect_5 {
    animation-duration: 10 + random(10) + s;
    top: 80vh;
    left: -120px;
  }
  #gradient_rect_lgg {
    animation-duration: 10 + random(10) + s;
    position: fixed;
    right: -100px;
    left: auto;
    top: 65vh;
    bottom: auto;
  }
  #gradient_rect_lgg_2 {
    animation-duration: 10 + random(10) + s;
    position: fixed;
    right: -180px;
    left: auto;
    top: 69vh;
    bottom: auto;
  }
}

#portfolio-snake-game {
  text-align: center;
}
