#navigation {
  position: fixed;
  left: 0; right: auto;
  top: 0;
  bottom: 0;
  background: #16161C;
  width: 70px;
  height: 100vh;
  box-shadow: 4px 0 12px rgba(0,0,0,0.36);
  z-index: 100;
}

.nav-btn {
  path, polyline, rect, line {
    fill:none;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:20px;
  }
}

.nav-btn {
  display: block;
  padding: 8px 0 16px;
  width: 100%;
  border: 0;
  text-align: center;
  background: none;
  fill: #727272;
  stroke: #727272;
  color: #727272;
  cursor: pointer;
  transition: all .1s ease-out;
  &:hover, &.active {
    background: #0D0D0D;
    color: #fff;
  }
}

.nav-btn.home-nav-btn {
  &:hover, &.active {
    stroke: #8000FF;
  }
}
.nav-btn.work-nav-btn {
  &:hover, &.active {
    stroke: #00E5FF;
    fill: #00E5FF;
  }
}
.nav-btn.contact-nav-btn {
  &:hover, &.active {
    stroke: #BCFF00;
  }
}
.nav-btn.skills-nav-btn {
  &:hover, &.active {
    stroke: #FF6600;
  }
}
.nav-btn.resume-nav-btn {
  &:hover, &.active {
    stroke: #00FF5D;
  }
}
.resume-nav-btn svg, .resume-nav-btn svg rect {
  fill: none;
}

.nav-btn {
  span {
    font-weight: bold;
  }
  svg {
    margin: 2px auto;
    display: block;
    width: 38px;
    height: 38px;
  }
}
