@import "../../../styles/mixins.scss";

.timeline-content-block {
  transition: opacity 0.32s;
  min-width: 100%;
}

.timeline-copy {
  h3 {
    font-size: 32px;
  }
}

.timeline-content-block {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
}
