@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";

$circleSize: 28px;
$interactionLayerSize: $circleSize + 6px;
// $timelineColor: #6900cc;
// $timelineReadColor: #70019c;

$timelineColor: $home-dark;
$timelineReadColor: $home-highlight;
$read-shadow: rgba(36, 1, 36, 0.9);

.timeline,
.timeline-element,
.timeline-content,
.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timeline-container {
  display: inline-block;
  width: auto;
  margin: 0 auto;
}

$timelineShadow: 0 6px 6px -4px $read-shadow;
.radio-circle,
.transition-line {
  transition: box-shadow 0.32s;
  background: $timelineColor;
  box-shadow: 0 0 0 transparent;
  &.has-read.radio-circle {
    background-color: $timelineReadColor;
    box-shadow: 0 4px 4px -3px $read-shadow;
  }
  &.active {
    // transition-delay: 0.24s;
    background-color: $timelineReadColor;
    box-shadow: 0 10px 6px -6px $read-shadow;
  }
}

.timeline-fill {
  height: 5px;
  border-radius: 10px;
  background: $timelineReadColor;
  left: 0 !important;
  transform: none !important;
  margin-top: -3px;
  box-shadow: 0 1px 4px -1px $read-shadow;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 12px !important;
}

.radio-container {
  button {
    background: transparent;
    border: 0;
    outline: 0;
    width: $interactionLayerSize;
    height: $interactionLayerSize;
    z-index: 5;
  }
}
.radio-circle {
  cursor: pointer;
  width: $circleSize;
  height: $circleSize;
  border-radius: 200px;
}

.radio-container {
  flex-grow: 1;
}

.transition-line {
  flex-grow: 2;
  width: 12px;
  height: 3px;
  border-radius: 10px;
  transform: scaleX(1.2);
  position: relative;
  z-index: -1;
  @include tablet {
    width: 50px;
  }
}

.timeline-element {
  .subject-tooltip {
    position: absolute;
    top: 100%;
    color: #d8c5f7;
    // color: #fff;
    span {
      white-space: nowrap;
    }
  }

  &:nth-child(even) {
    .subject-tooltip {
      top: auto;
      bottom: 100%;
    }
  }
}
