$circleSize: 28px;

.timeline,
.timeline-element,
.timeline-content,
.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.radio-circle,
.transition-line {
  background: #fff;
}

.radio-circle {
  cursor: pointer;
  width: $circleSize;
  height: $circleSize;
  border-radius: 200px;
}

.transition-line {
  width: 60px;
  height: 2px;
  border-radius: 10px;
  transform: scaleX(1.2);
  position: relative;
  z-index: -1;
}

.timeline-copy {
  width: 66.666%;
}

.timeline-images {
  width: 33.333%;
}

.timeline-element {
  .subject-tooltip {
    position: absolute;
    top: 100%;
    span {
      white-space: nowrap;
    }
  }

  &:nth-child(even) {
    .subject-tooltip {
      top: auto;
      bottom: 100%;
    }
  }
}
