@import "../../styles/mixins.scss";
$backgroundColor: linear-gradient(to top left, #1a1a1a, #252525);
$borderColor: #3b3b3b;
$snakeColor: #8000ff;
$snakeHead: #a868e7;
$easyColor: #00bd9d;
$easyHead: #00f7ff;
$hardColor: #ff0037;
$hardHead: #ff7300;
$appleColor: #00ff2a;

@keyframes obsacle {
  0% {
    box-shadow: inset 0 0 0px #ff3300;
  }
  50% {
    box-shadow: inset 0 0 12px #ff3300;
  }
  100% {
    box-shadow: inset 0 0 0px #ff3300;
  }
}

#snake-game {
  text-align: center;
  margin: 0 auto;
  position: relative;
  .game-tile,
  .grid {
    border: 1px solid;
    border-color: $borderColor;
  }

  .game-tile {
    box-shadow: 0 0 0px $appleColor;
  }

  .grid {
    background: $backgroundColor;
  }

  .tile-type-apple {
    background: $appleColor;
    border-color: $appleColor;
    transition: background-color 0.25s 0.32s, box-shadow 0.32s 0.5s,
      border-color 0.5s;
    box-shadow: 0 0 12px $appleColor;
  }
  .tile-type-obstacle {
    background: $borderColor;
    animation: obsacle 1s 0.5s forwards infinite;
  }

  .tile-type-head {
    background: $snakeHead;
    border-color: $snakeHead;
  }
  .tile-type-body {
    background: $snakeColor;
    border-color: $snakeColor;
  }
  &.Easy {
    .tile-type-head {
      background: $easyHead;
      border-color: $easyHead;
    }
    .tile-type-body {
      background: $easyColor;
      border-color: $easyColor;
    }
  }
  &.Hard {
    .tile-type-head {
      background: $hardHead;
      border-color: $hardHead;
    }
    .tile-type-body {
      background: $hardColor;
      border-color: $hardColor;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  outline: 0;
  opacity: 0.6;
  touch-action: none;
  &:focus {
    opacity: 1;
  }
}

.game-settings-container {
  margin-top: 18px;
  text-align: center;
  .difficulty-btn {
    background: #000;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 4px;
    padding: 8px;
    border-radius: 4px;
    &.active {
      background: #6f04c7;
      box-shadow: 0 8px 6px -8px #000;
    }
  }
}

.scores-container {
  width: 120px;
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 100%;
  background-color: $borderColor;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  .high-scores-container {
    padding: 8px;
    padding-top: 4px;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 6px;
  }
}

@keyframes score-counter {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-52%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.game-score {
  background: $backgroundColor;
  border: 2px solid $borderColor;
  max-height: 50px;
  overflow: hidden;
  .scoreboard-counter {
    animation: score-counter 0.38s forwards ease-out;
  }
  h1 {
    margin: 0;
    padding: 4px;
  }
}

@keyframes info-box {
  0% {
    transform: scale(0.4) translate(-50%, -50%);
  }
  80% {
    transform: scale(1.14) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.snake-game-info-box {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  margin-right: -50%;
  animation: info-box 0.2s ease-out;
}
$btnSize: 100px;

@include desktop {
  .direction-btn {
    display: none;
  }
  .game-score {
    border-left: none;
  }
  .scores-container {
    left: 100%;
    top: 0;
    bottom: auto;
    right: auto;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0px;
  }
}
