@import "../../styles/mixins.scss";
@import "./styles/colors.scss";
@keyframes obstacle {
  0% {
    box-shadow: inset 0 0 0px $hazardColor;
  }
  50% {
    box-shadow: inset 0 0 12px $hazardColor;
  }
  100% {
    box-shadow: inset 0 0 0px $hazardColor;
  }
}
@keyframes hypercube {
  0% {
    box-shadow: 0 0 8px $hypercubeColor;
  }
  50% {
    box-shadow: 0 0 12px #75ddf0;
  }
  100% {
    box-shadow: 0 0 8px $hypercubeColor;
  }
}
@keyframes dimensionator {
  0% {
    box-shadow: 2px -1px 0px $dimensionatorColor,
      -1px 0px 0px $dimensionatorColor;
  }
  50% {
    box-shadow: 0px -1px 0px $dimensionatorColor,
      -0px 1px 0px $dimensionatorColor;
  }
  100% {
    box-shadow: 1px 0px 0px $dimensionatorColor,
      -2px 0px 0px $dimensionatorColor;
  }
}
@keyframes bolt {
  0% {
    fill: $hypercubeColor;
  }
  50% {
    fill: #75ddf0;
  }
  100% {
    fill: $hypercubeColor;
  }
}
@keyframes hyperframe {
  0% {
    border-color: $hypercubeColor;
  }
  50% {
    border-color: #9bdfeb;
  }
  100% {
    border-color: $hypercubeColor;
  }
}
@keyframes hypersnake {
  0% {
    box-shadow: 0 0 8px $hypercubeColor;
  }
  50% {
    box-shadow: 0 0 12px $hypercubeColor;
  }
  100% {
    box-shadow: 0 0 8px $hypercubeColor;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// grid icons
.snake-game-icon {
  width: 18px;
  height: 18px;
}
.snake-lightning-icon {
  fill: $hypercubeColor;
  animation: bounce 0.38s 0.5s ease-out forwards infinite;
}
.dimensionator-icon {
  fill: $dimensionatorColor;
}

#snake-game {
  text-align: center;
  margin: 60px auto 0;
  position: relative;
  touch-action: none;
  z-index: 400;
  opacity: 0.8;
  outline: 0;
  &:focus {
    opacity: 1;
  }
  .game-tile,
  .grid {
    border: 1px solid;
    border-color: $borderColor;
  }
  .game-tile {
    box-shadow: 0 0 0px $appleColor;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-color: transparent;
  }

  .grid {
    background: $backgroundColor;
  }

  .tile-type-apple,
  .tile-type-hypercube {
    transition: background-color 0.25s 0.32s, box-shadow 0.32s 0.5s,
      border-color 0.5s;
  }
  .tile-type-apple {
    background: $appleDark;
    fill: $appleColor;
    border-color: $appleColor;
    box-shadow: 0 0 12px $appleColor;
    border-radius: 6px;
  }
  .tile-type-hypercube {
    border-color: $hypercubeColor;
    background: $hypercubeDark;
    box-shadow: 0 0 12px $hypercubeColor;
    animation: hypercube 0.38s 0.5s forwards infinite,
      bolt 0.38s 0.5s forwards infinite;
  }
  .tile-type-dimensionator {
    border-color: $dimensionatorColor;
    background: $dimensionatorDark;
    box-shadow: 0 0 12px $dimensionatorColor;
    animation: dimensionator 0.38s 0.5s forwards infinite;
  }
  .tile-type-buffer {
    background: #000;
  }
  .tile-type-obstacle {
    border-radius: 200px;
    background: $hazardDark;
    border-color: $hazardColor;
    fill: $hazardColor;
    animation: obstacle 1s 0.5s forwards infinite;
  }

  .tile-type-head {
    background: $snakeHead;
    border-color: $snakeHead;
    .snake-eyes .eye {
      background: $snakeColor;
    }
  }
  .tile-type-body {
    background: $snakeColor;
    border-color: $snakeColor;
  }
  &.Easy {
    .tile-type-head {
      background: $easyHead;
      border-color: $easyHead;
      .snake-eyes .eye {
        background: $easyColor;
      }
    }
    .tile-type-body {
      background: $easyColor;
      border-color: $easyColor;
    }
  }
  &.Hard {
    .tile-type-head {
      background: $hardHead;
      border-color: $hardHead;
      .snake-eyes .eye {
        background: $hardColor;
      }
    }
    .tile-type-body {
      background: $hardColor;
      border-color: $hardColor;
    }
  }
  &.hyper-buff {
    .grid {
      animation: hyperframe 0.32s forwards infinite;
    }
    .tile-type-body,
    .tile-type-head {
      background-color: $hypercubeColor;
      border-color: $hypercubeColor;
      animation: hypersnake 0.42s forwards infinite;
    }
    .tile-type-head {
      background-color: #02343d;
      z-index: 2;
      .snake-eyes .eye {
        background: $hypercubeColor;
      }
    }
    .tile-type-body,
    .tile-type-head {
      box-shadow: 0 0 8px $hypercubeColor;
    }
  }

  &.dimensionator-buff {
    .tile-type-body,
    .tile-type-head {
      background-color: $dimensionatorColor;
      border-color: $dimensionatorColor;
      animation: dimensionator 0.42s forwards infinite;
    }
    .tile-type-head {
      background-color: $dimensionatorDark;
      z-index: 2;
      .snake-eyes .eye {
        background: $dimensionatorColor;
      }
    }
    .tile-type-body,
    .tile-type-head {
      box-shadow: 0 0 8px $dimensionatorColor;
    }
    &.hyper-buff {
      .snake-eyes .eye {
        background: $hypercubeColor;
        border: 1px solid $hypercubeColor;
        // animation: hyperframe 0.42s forwards infinite;
      }
    }
  }
}

$snakeHeadRadius: 6px;
$snakeEyesSpacing: 2px;
// snake eyes
.tile-type-head {
  border-radius: $snakeHeadRadius;
  .snake-eyes {
    position: absolute;
    bottom: auto;
    top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .eye {
      width: 4px;
      height: 3px;
      margin: 1px;
    }
  }
  &.top {
    .snake-eyes {
      top: $snakeEyesSpacing;
    }
  }
  &.left {
    .snake-eyes {
      left: $snakeEyesSpacing;
    }
  }
  &.right {
    .snake-eyes {
      left: auto;
      right: $snakeEyesSpacing;
    }
  }
  &.bottom {
    .snake-eyes {
      top: auto;
      bottom: $snakeEyesSpacing;
    }
  }
  &.from-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &.from-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.from-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.from-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.grid {
  box-shadow: 0 28px 50px -28px #000;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  outline: 0;
}

.game-settings-container {
  margin-top: 18px;
  text-align: center;
  .difficulty-btn {
    background: #000;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 4px;
    padding: 8px;
    border-radius: 4px;
    &.active {
      background: #6f04c7;
      box-shadow: 0 8px 6px -8px #000;
    }
  }
}

.scores-container {
  width: 120px;
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 100%;
  background-color: $borderColor;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  .high-scores-container {
    padding: 8px;
    padding-top: 4px;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 6px;
  }
}

@keyframes score-counter {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-52%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.game-score {
  background: $backgroundColor;
  border: 2px solid $borderColor;
  max-height: 50px;
  overflow: hidden;
  .scoreboard-counter {
    animation: score-counter 0.38s forwards ease-out;
  }
  h1 {
    margin: 0;
    padding: 4px;
  }
}

@keyframes info-box {
  0% {
    transform: scale(0.4) translate(-50%, -50%);
  }
  60% {
    transform: scale(1.1) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.snake-game-info-box {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  margin-right: -50%;
  animation: info-box 0.2s ease-out;
  z-index: 10;
}
$btnSize: 100px;

@include desktop {
  .direction-btn {
    display: none;
  }
  .game-score {
    border-left: none;
  }
  .scores-container {
    left: 100%;
    top: 0;
    bottom: auto;
    right: auto;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0px;
  }
}
