@import "../../../styles/mixins";
@import "../../../styles/colors";

#home_page {
  height: 100%;
  color: #fff;
  p {
    color: #dfd8fc;
  }
  .top-content {
    h1 {
      margin: 0;
    }
    .pos-title {
      display: block;
      margin-left: 6px;
      font-weight: bold;
      font-size: 16px;
      color: #b6b0f1;
    }
    .description {
      margin: 24px 0 32px 0;
    }
  }
  @include tablet {
    .pos-title {
      font-size: 20px;
      margin-left: 10px;
    }
    .description {
      font-size: 18px;
    }
  }

  .snake-game-btn {
    border-radius: 200px;
    margin-bottom: 12px;
  }
}

.home-btn {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
}

#info_block_container,
#my_story_container {
  width: 90%;
  text-align: center;
}

.info-block {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  margin-bottom: 24px;
  width: 100%;
  .icon-wrap {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 200px;
  }
  svg {
    display: block;
    width: 45px;
    height: 45px;
  }
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 33.333%;
  }
}

#my_story_container {
  &,
  h2 {
    margin-top: 0;
  }
  text-align: left;
}

@keyframes shift {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}
#floating_svg_container {
  .small-rect-home,
  .large-rect-home {
    animation: shift;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  .small-rect-home {
    svg {
      width: 200px;
    }
    height: 25px;
    position: absolute;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
  }
  #gradient_rect_lgg svg,
  #gradient_rect_lgg_2 svg {
    width: 300px;
    height: 150px;
  }
  @include tablet {
    .small-rect-home svg {
      width: 800px;
      height: 32px;
    }
    #gradient_rect_lgg svg,
    #gradient_rect_lgg_2 svg {
      width: 800px;
      height: 200px;
    }
  }
  #home_sm_rect_1 {
    animation-duration: 10 + random(10) + s;
    top: 8vh;
    left: -8vw;
  }
  #home_sm_rect_2 {
    animation-duration: 10 + random(10) + s;
    top: 14vh;
    left: -12vw;
  }
  #home_sm_rect_3 {
    animation-duration: 10 + random(10) + s;
    top: 45vh;
    left: -5vw;
  }
  #home_sm_rect_4 {
    animation-duration: 10 + random(10) + s;
    bottom: 22vh;
    left: -15vw;
  }
  #home_sm_rect_5 {
    animation-duration: 10 + random(10) + s;
    bottom: 24vh;
    left: -12vw;
  }
  #gradient_rect_lgg {
    animation-duration: 10 + random(10) + s;
    position: absolute;
    right: -30%;
    left: auto;
    top: auto;
    bottom: 20vh;
  }
  #gradient_rect_lgg_2 {
    animation-duration: 10 + random(10) + s;
    position: absolute;
    right: -20%;
    left: auto;
    top: auto;
    bottom: 10vh;
  }
}

#portfolio-snake-game {
  text-align: center;
  .grid {
    box-shadow: 0 28px 50px -28px #000;
    position: relative;
  }
}
