@import "../../styles/mixins";

@keyframes pop-in {
  0% {
    width: 0%;
    height: 0%;
  }
  60% {
    width: 75%;
    height: 75%;
  }
  90% {
    width: 58%;
    height: 58%;
  }
  100% {
    width: 65%;
    height: 65%;
  }
}
// wrapper
#page_container {
  min-height: 100vh;
  @include tablet {
    margin-left: 70px;
  }
}
// floating circle nav right
#section-circles {
  position: fixed;
  right: 0;
  bottom: 0;
  top: auto;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding-bottom: 5px;
  z-index: 100;
  text-align: center;
  @include tablet {
    width: auto;
    padding-right: 5px;
    left: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}
.section-circle {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid;
  transition: background 0.5s;
  position: relative;
  display: inline-block;
  &.light {
    border-color: #fff;
    div {
      background: #fff;
    }
  }
  &.dark {
    border-color: #16161c;
    div {
      background: #16161c;
    }
  }
  &.active {
    div {
      animation: pop-in 0.36s ease-out forwards;
    }
  }
  div {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 100px;
  }
  @include tablet {
    display: block;
    margin-bottom: 8px;
  }
}

// page classes
.section-container {
  min-height: 100vh;
  padding-top: 50px;
  position: relative;
  z-index: 5;
  padding-top: 80px;
  .top-content {
    max-width: 100%;
    width: 650px;
  }
  .content-wrap {
    width: 90%;
    text-align: center;
    margin-top: 50px;
    &.pull-left {
      margin-left: -35px;
    }
  }
  @include tablet {
    padding-top: 0;
    .top-content {
      padding-top: 10%;
      margin-left: 10%;
    }
    .content-wrap {
      margin-left: 35px;
    }
  }
}

.section-title {
  color: #fff;
  font-size: 32px;
  &.tl {
    position: absolute;
    top: 60px;
    margin: 0;
    left: 5%;
    width: 95%;
  }
  @include tablet {
    font-size: 54px;
    &.tl {
      top: 2%;
    }
  }
}

#floating_svg_container {
  // transition: transform  .28s ease-in-out;
  z-index: 1;
  svg {
    display: inline-block;
  }
}
