@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

$svgSize: 82px;

#toast-container {
  background: $black-surface;
  color: $text-dark-secondary;
  border-radius: 4px;
  box-shadow: 0 10px 16px -8px rgba(0, 0, 0, 0.9);
  position: fixed;
  top: auto;
  left: 5%;
  bottom: 5%;
  z-index: 200;
  max-width: 90%;
  h2 {
    color: $text-dark-primary;
  }
  p {
    font-weight: 500;
  }
  .toast-icon {
    width: $svgSize;
    height: $svgSize;
    fill: #c2c2c2;
    flex-shrink: 0;
  }
  @include tablet {
    max-width: 500px;
  }
}

#toast-btn {
  background: none;
  color: $home-highlight;
  font-weight: 600;
  &:hover {
    background: $black;
  }
}
